.movieDescContainer {
  background-color: #3f4340;
  padding: 7px;
}
.movieTitle {
  font-size: 17px;
  width: -webkit-fill-available;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 238px;
}
.movieText {
  font-size: 15px;
}
.movieImg {
  /* object-fit: cover; */
}
